@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-5">
    <header>
        <h1 class="text-center">Welcome to MomoMecha</h1>
        <div class="text-center">
            <p class="badge rounded-pill bg-dark text-light">Your Ultimate Gundam Collection Companion!</p>
        </div>
        <div class="text-center">
            <img src="./MomoMechaMascot.webp" alt="gundam webp" />
        </div>
    </header>
    <br>
    <section>
        <h2 class="text-center mb-5">Explore Your Gundam Universe:</h2>
        <div class="row d-flex justify-content-center">
            <div class="col-sm-6 col-lg-6 d-flex">
                <div class="card border flex-fill mb-4">
                    <div class="card-body">
                        <h3 class="card-title">Wishlist Management</h3>
                        <p class="card-text">Never forget the next Gundam kit you've got your eye on. Our intuitive wishlist feature helps you keep track of your dream Gundams and ensures you never miss an opportunity to add them to your collection.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 d-flex">
                <div class="card border flex-fill mb-4">
                    <div class="card-body">
                        <h3 class="card-title">Backlog Organization</h3>
                        <p class="card-text">Is your Gundam backlog starting to resemble a small army? MomoMecha lets you organize and prioritize your unbuilt kits, so you'll always know which one to tackle next. Say goodbye to the dust gathering on your precious models.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 d-flex">
                <div class="card border flex-fill mb-4">
                    <div class="card-body">
                        <h3 class="card-title">Built Gundam Catalog</h3>
                        <p class="card-text">Showcase your hard-earned creations in a dedicated catalog. Share your built Gundams with fellow collectors and take pride in your unique collection.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 d-flex">
                <div class="card border flex-fill mb-4">
                    <div class="card-body">
                        <h3 class="card-title">Gundams on Sale</h3>
                        <p class="card-text">Discover exclusive deals on Gundam model kits and accessories. We scout the web to bring you the latest discounts and offers from your favorite retailers, helping you save money while expanding your collection.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <section>
        <h2 class="text-center mb-5">Why Choose MomoMecha?</h2>
        <div class="row d-flex justify-content-center">
            <div class="col-sm-4 d-flex">
                <div class="card border-primary flex-fill mb-4">
                    <div class="card-body">
                        <h3 class="card-title">User-Friendly Interface</h3>
                        <p class="card-text">Our platform is designed with Gundam collectors in mind. The user-friendly interface ensures you can navigate effortlessly and manage your collection efficiently.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 d-flex">
                <div class="card border-danger flex-fill mb-4">
                    <div class="card-body">
                        <h3 class="card-title">Secure and Private</h3>
                        <p class="card-text">We prioritize your data security and privacy. Your Gundam collection is your business, and we're here to help you manage it, not to intrude.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 d-flex">
                <div class="card border-warning flex-fill mb-4">
                    <div class="card-body">
                        <h3 class="card-title">Community</h3>
                        <p class="card-text">Join a thriving community of Gundam enthusiasts. Share your builds, exchange tips and tricks, and connect with fellow collectors who share your passion.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <footer class="text-center mt-5">
        <p>Start your Gundam collection journey with MomoMecha today, and transform your hobby into an organized and enjoyable experience. Explore, build, and connect with like-minded enthusiasts who understand the thrill of assembling these iconic mechanized warriors.</p>
        <p>Are you ready to embark on a Gundam adventure like no other? Join MomoMecha now, and let's build the ultimate Gundam collection together!</p>
    </footer>
</div>