@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Last updated: 2/9/2024</p>

<p>
    Thank you for using our services. This Privacy Policy is designed to help you understand how your personal information is collected, used, and shared when you use our services.
</p>
<p>
    By using our services, you agree to the collection and use of information in accordance with this Privacy Policy.
</p>
<h2>Information Collection and Use</h2>
<p>
    We only collect information that is necessary for providing our services. When you log in using Google external login, we may collect the following information:
</p>
<ul>
    <li><strong>Google Account Information: </strong>We may collect your basic Google account information, such as your name and email address, to create and manage your user account.</li>
</ul>
<h2>How We Use Your Information</h2>
<p>We use the collected information for the following purposes:</p>
<ul>
    <li><strong>Authentication: </strong>To verify your identity when you log in using Google external login.</li>
    <li><strong>User Account Management: </strong>To create and manage your user account.</li>
    <li><strong>Communication: </strong>To communicate with you regarding your account, updates, and important information related to our services.</li>
</ul>
<h2>Information Sharing</h2>
<p>
    We do not sell, trade, or otherwise transfer your personal information to outside parties. Your information is only shared with trusted third parties,
    such as Google, for the sole purpose of providing the necessary authentication and account management services.
</p>
<h2>Security</h2>
<p>
    We take appropriate measures to ensure the security of your personal information. However,
    please note that no method of transmission over the internet or electronic storage is completely secure, and we cannot guarantee absolute security.
</p>
<h2>Your Choices</h2>
<p>
    You have the right to access, correct, or delete your personal information. You can do this by logging into your account or contacting us directly.
</p>
<h2>Changes to This Privacy Policy</h2>
<p>
    We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.
</p>
<h2>Contact Us</h2>
<p>
    If you have any questions or concerns about this Privacy Policy, please contact us at [I still need to set something up].
</p>
<p>By using our services, you agree to the terms outlined in this Privacy Policy.</p>