@page
@model MomoMecha.Pages.SaleModel
@{
    ViewData["Title"] = "Sale";
}

<h1>Gundam Sales</h1>
<h4>Seize cosmic dominance with our Gundam sale – conquer at stellar prices!</h4>
<hr />

<div class="row">
    @foreach (var affiliateLink in Model.Sale)
    {
        <div class="col-md-4 mb-4">
            <div class="card border-primary h-100">
                <img src="@affiliateLink.ImageUrl" class="card-img-top" alt="@affiliateLink.ProductTitle" style="height: 450px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">@affiliateLink.ProductTitle</h5>
                    <a href="@affiliateLink.AffiliateLink" class="btn btn-secondary" target="_blank">View on Amazon</a>
                </div>
            </div>
        </div>
    }
</div>
