@page
@model MomoMecha.Pages.TermsModel
@{
    ViewData["Title"] = "Terms of Service";
}
<h1>@ViewData["Title"]</h1>

<p>Last updated: 2/18/2024</p>

<h2>1. Acceptance of Terms</h2>

<p>
    By accessing or using the MomoMecha web application, you acknowledge that you have read, understood, and agree to be bound by these Terms of Service.
    If you do not agree with any part of these terms, you may not use our services.
</p>

<h2>2. User Accounts</h2>

<p>
    a. In order to use certain features of MomoMecha, you may be required to create a user account. 
    You are responsible for maintaining the confidentiality of your account information and are fully responsible for all activities that occur under your account.
</p>

<h2>3. Content</h2>

<p>
    a. MomoMecha allows users to create and manage three lists of Gundams: Wishlist, Backlog, and Gundams. 
    You retain ownership of the content you submit, and by uploading, posting, or otherwise making it available on MomoMecha,
    you grant us a non-exclusive, worldwide, royalty-free, sublicensable, and transferable license to use, reproduce, distribute, create derivative works of,
    display, and perform the content in connection with the provision of MomoMecha's services.
</p>

<p>b. You understand that you are solely responsible for the content you submit, and you agree not to post content that violates any laws or infringes on the rights of others.</p>

<h2>4. Privacy</h2>

<p>
    a. MomoMecha takes your privacy seriously. Our Privacy Policy outlines how we collect, use, and disclose your personal information. 
    By using MomoMecha, you consent to the practices described in our Privacy Policy.
</p>

<h2>5. Prohibited Conduct</h2>

<p>You agree not to engage in any conduct that:</p>

<ul>
    <li>Violates these Terms of Service or any applicable laws.</li>
    <li>Harasses, abuses, or harms others.</li>
    <li>Impersonates any person or entity or misrepresents your affiliation with any person or entity.</li>
    <li>Interferes with or disrupts MomoMecha's services or servers.</li>
</ul>

<h2>6. Termination</h2>

<p>MomoMecha reserves the right to suspend or terminate your access to the services at any time, with or without cause, and with or without notice.</p>

<h2>7. Changes to Terms</h2>

<p>
    MomoMecha may update these Terms of Service from time to time. It is your responsibility to review these terms periodically. 
    Your continued use of MomoMecha after the changes constitutes acceptance of the revised terms.
</p>

<h2>8. Contact Information</h2>

<p>If you have any questions or concerns about these Terms of Service, please contact us at [I still need to set something up].</p>

<p>Thank you for using MomoMecha!</p>
